* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.header {
    width: 1600px;
    background-color: #1A0B2E;

}


nav {
    max-width: 1200px;
    height: 207px;
    padding: 0 auto;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style: none;
    gap: 32px;
    
}
nav .menu a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}